/* styles.css */
/* ===== 1. TIPOGRAFIES I BASES ===== */
/* Títols amb Titan One */
h1, h2, h3 {
    font-family: 'Titan One', cursive;
    letter-spacing: 0.03em;
    color: #e63946; /* Un color càlid o cridaner com el vermell/taronja */
}

/* Text de paràgrafs ben llegible */
p, span, li {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    line-height: 1.6;
    color: #2b2d42;
}
