/* styles.css */
/* ===== 1. TIPOGRAFIES I BASES ===== */
/* Cos */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fffaf5; /* Un fondo cálido para dulces/postres */
    color: #2b2d42;
}

/* Títols amb Titan One */
h1, h2, h3 {
    font-family: 'Fredoka', cursive, sans-serif;
    letter-spacing: 0.03em;
    color: #e63946;
}

/* Text i inputs */
p, span, li, input, button {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    line-height: 1.6;
}
